body {
    background-color: red;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button.cookie {
    background: transparent;
    border: none;
    font-size: 0;
}

.centered {
    align-items: center;
}